<div class="main-banner">
	<div class="wrapper">
		<div class="main-text">
			Герценовский университет
		</div>
		<div>
			Российский Государственный Педагогический
			Университет им. А. И. Герцена
		</div>
		<hr>
		<div class="main-subtext">
			Кафедра информационных технологий и электронного обучения
		</div>
	</div>
</div>

<ul class="main-menu">
	<li><a href="">Главная</a></li>
	<li><a href="">Абитуриету</a></li>
	<li><a href="">Кафедра</a></li>
	<li><a href="">Учебная дейтельность</a></li>
	<li><a href="">Наука</a></li>
	<li><a href="">События</a></li>
	<li><a href="">Медиазал</a></li>
	<li><a href="">Партнеры</a></li>
</ul>
