<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">


<style type="text/css">
    
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

.main-banner {
    height: 350px;
    background-image: url(https://ict.herzen.spb.ru/user/themes/bootstrap/images/head.jpeg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.main-banner .wrapper {
    font-size: 1.2em;
    width: 540px;
    padding: 50px 0 0 100px;
}

.main-banner .wrapper .main-text {
    font-size: 2em;
    margin-bottom: 20px;
}

.main-banner .wrapper hr {
    border: none;
    border-bottom: 1px solid gray;
}

.main-banner .wrapper .main-subtext {
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 3px black;
}

.main-menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #333b3f;
    padding: 0;
    margin: 0;
}

.main-menu li a {
    padding: 10px 27px;
    color: #9b9b9b;
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
    text-decoration: none;
    transition-duration: .3s;
}


section.wrapper {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 20px 0px;
    margin: 0 auto;
    flex-grow: 1;
}

input, textarea {
    padding: 10px;
    border: 1px solid #e7ebed;
    margin-top: 2px;
    max-width: 460px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    height: 42px;
}


.footer {
	background-color: #333b3f;
}

.footer .info {
	margin: 15px auto;
	width: 480px;
	font-size: .7em;
	line-height: 1.5em;
}

.footer .info h3 {
    margin: 10px 0;
}

.footer .info a {
	color: #9b9b9b;
}


.button, button{
	border: 0;
    border-radius: 4px;
    background: #343a40;
    color: white;
    line-height: 28px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    padding: 0 30px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    transition-duration: .3s;
    transition-property: background-color;
}



</style>